@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
* {
  padding: 0;
  margin: 0;
}

#wrapper {
          width: 60%;
          margin: 5% auto;
}

a {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  /*margin-left: 20px;*/
  margin-top: 10px;
  text-decoration: none;
}

nav {
  text-align: left;
  /*margin: auto;*/
  /*background-color: rgba(222, 202, 202, .4);*/
/*   width: 80%; */
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
/*   border: 1px solid; */
  padding-right: 20px;
}

nav a {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  margin-right: 20px;
  margin-top: 10px;
  color: inherit;
}

nav a:hover {
  /*color: red*/
  border-bottom: 3px solid black;
}

#three_column {
  /*background-color: #FFB7CF;*/
  /*border: 1px black solid;*/
  /*padding: 2%;*/
  /*margin: auto;*/
  width: 100%;
  /*border: 1px black solid;*/
}

#three_column a {
  display: block;
  color: rgba(65, 155, 249, 100);
  text-align: right;
  font-weight: lighter;
}
}


#left h2 {  

text-align: center;
}

#middle h2 {  

text-align: center;
}

#right h2 {  

text-align: center;
}

#left {
  /*background-color: #E582A2;*/
/*   width: 80%; */
  /*border: 1px black solid;*/
  padding: 10px 10px 10px 0;
  float: left;
  width: 31.4935%;
  /*margin-right: 1.5555%;*/
  /*margin-right: 1%;*/
  /*margin: 1% 0;*/
}

#middle {
  /*background-color: #E582A2;*/
/*   width: 80%; */
  /*border: 1px black solid;*/
  padding: 10px;
  float: left;
  width: 31.4935%;
  /*margin-right: 1.5555%;*/
}

#right {
  /*background-color: #E582A2;*/
/*   width: 80%; */
  /*border: 1px black solid;*/
  padding: 10px;
  float: left;
  width: 31.4935%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 900;
  font-size: 48px;
  margin-top: 10px;
/*   margin-left: 10%; */
  text-align: left;
}

h2 {
  color: #000000;
  font-family: 'Noto Serif', serif;
  font-weight: 200;
  margin-bottom: 10px;
  margin-left: 20px;
}

img {
  /*margin-left: 20px;*/
  width:100%;
}

p {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  /*line-height: 1.875em;*/
  /*margin-left: 20px;*/
  margin-top: 10px;
}

ul {
  text-align: left;
  list-style-type: none;
}


@media only screen and (max-width:1511px) {


#left, #middle, #right {
  float:none;
  margin: auto;
  width: 90%;
}

}